@charset "utf-8";

html {
    width:95%;
    min-width:040px;
    max-width:900px;
    margin-left:auto;
    margin-right:auto;

    min-height:100%;
    height: 100%;
}

body {
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    margin: 0 auto;
    min-height: 100%;
}

header, ul, nav, li, a {
    box-sizing: border-box;
}

.row {
    clear: both;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

body > header > img {
    display: block;
    width: 70%;
    float: right;
}

header nav {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
}

header > nav > ul > li > a {
    display: block;
    width: 100%;
}

nav.horizontal > ul > li {
    display: block;
    width: 12.5%;
    float: left;
}

ul#topics > li {
    display: block;
    width: 20%;
    float: left;
    margin-left: 0;
    margin-right: 1.5%;
}

ul#topics > li:first-child {
    margin-left: 7.75%;
}

ul#topics > li:last-child {
    margin-right: 7.75%;
}

ul#topics > li > img {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

hr {
    width: 50%;
}

ul#comments {
    width: 75%;
    margin: 40px auto;
}

ul#comments > li {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

ul#comments > li > img {
    display: block;
    width: 20%;
    float: left;
    margin-right: 5%;
    margin-left: 5%;
}

ul#comments > li > p {
    float: left;
    width: 70%;
}

footer {
    clear: both;
}